{% include "moniex/partials/mail-header.liquid" %}

<p>Dear {{customer_name}},</p>

<p>You successfully logged in to your Canary FX web application Service on {{login_datetime}}. from a Keyboard application with IP address: {{login_ip}}. </p>

<p>By the way, if you didn't log in at this time, please immediately contact our live chat support team or send us an email on canaryfx@..... </p>

<p>Please keep your login details secure at all times and do not disclose by phone, email or on suspicious websites. Neither Canary FX services nor its staff will request your Password or Transaction pin details at any point in time.</p>

<p>Why are we sending this? We take security very seriously and we want to keep you aware of all important actions in your Canary FX online profile.</p>

<p>Thank you <br/>
The Canary FX team </p>


{% include "moniex/partials/mail-footer.liquid" %}