<!doctype html>
<html lang="en">

<head>
</head>

<body>
    <div style="color: black">
        <div class="background" id="conte">
            <div class="filter-black"></div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <div class="wizard-container">
                            <div style="min-height: 410px; box-shadow: 0 20px 16px -15px rgba(0, 0, 0, 0.57);"
                                data-color="red" id="wizardProfile">
                                <div class="wizard-header text-center">
                                    <h3 style="color: #252422;font-weight: 300; margin: 0;text-align: center; font-size: 1.825em; line-height: 1.4">
                                        Onboarding Mail</h3>
                                    <p style=" font-size: 14px;font-weight: 400;color: #9A9A9A;margin-bottom: 0px;text-align: center;">
                                        From your friends at Canary Point Group</p>
                                </div>
                                <div style="min-height: 100px; padding: 20px 10px;" id="wysk">
                                    <div style="text-align: center;">
                                        Your account has been created on Canary Point Group Dashboard. Please use this
                                        link to login to your account.<br><br>
                                        Link: {{fullUrl}}
                                        <br>
                                    </div>
                                    <div style="text-align: center;">
                                        Your login details are <br><br> Email: {{email}}
                                        <br> Password: {{password}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>