{% include "partials/mail-header.liquid" %}

    <table class="table table-sm" role="presentation" border="0" cellpadding="0"
        cellspacing="0">
        <tr>
            <td>
                <p>Hello {{name}},</p>
                <p>We’re sending you this email because you requested a password reset, click on the link to create a new password.</p>
                <p><a class="btn a" target="_blank" href="{{link}}">Click here to reset password</a></p>
                <p>If you don’t request a password reset, you can ignore the email. Your password will not be changed.</p>
                <br />
                <hr />
                <img id="logo"
                    src="https://o35.810.myftpupload.com/wp-content/uploads/2019/08/cropped-cpcsl_logo-e1565776128130-1.png?time=1603478474"
                    title="Canary Point Corperate Services Limited"
                    alt="Canary Point Corperate Services Limited" />
            </td>
        </tr>
    </table>

{% include "partials/mail-footer.liquid" %}